<?php

use Eroslaev\Weather\Block\Weather;
use Magento\Framework\Escaper;

/** @var Weather $block */
/** @var Escaper $escaper */
// TODO: knockout for refresh element

if ($block->checkWeather()) {
    $temps = $block->getTemps();
    if ($temps) {
        ?>
        <div id="eroslaev_weather" data-role="vss-eroslaev_weather">
            <p>City: <?= $escaper->escapeHtml($temps['city']) ?></p>
            <p>Temperature Average: <?= $escaper->escapeHtml($temps['temperature']) ?></p>
            <p>Temperature Max: <?= $escaper->escapeHtml($temps['temperature_max']) ?></p>
            <p>Temperature Min: <?= $escaper->escapeHtml($temps['temperature_min']) ?></p>
            <p>Last time update: <?= $escaper->escapeHtml($temps['created_at']) ?></p>
        </div>
    <?php }
} ?>
